// Tablets and smaller

@media(max-width: 400px) {
  .flex-items {
    flex-direction: column;
    &.center, &.left, &.row {
      flex-direction: row;
    }
  }
}

@media(max-width: 600px) {
  .flex-items.center {
    flex-direction: column;
    .button {
      margin: 5px auto !important;
      width: 250px !important;
    }
  }
  .button-action {
    min-width: auto;
    width: 48%;
  }
  .button-container {
    padding: 0 10px;
  }
}

@media(max-width: 328px) {
  .button-action {
    min-width: 240px;
  }

  h1 {
    font-size: 1.5rem !important;
  }
}