@import '../../assets/scss/variables';

.title {
  width: fit-content;
  border-bottom: 4px solid $primary-color;
}

.fit {
  margin-top: -11px;
  border-width: 0px;
  border-bottom: 1.5px solid #E4E4E4;
}